.pronouns-badge {
  color: var(--text-muted);
  font-size: 0.75rem;
  line-height: 1;
  white-space: nowrap;

  [id|="chat-messages"] [class*="cozy"] & {
    display: inline-block;
    margin-left: 0.5rem;
  }
}
