.moonlight-showNote {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.moonlight-showNote-sidebar {
  gap: 8px;
}

.moonlight-showNote-text {
  margin: -5px;
}

.moonlight-showNote-text textarea {
  font-weight: var(--font-weight-normal);
}
